input {
    &.is-valid {
        border: 2px solid green;
    }
    &.is-invalid {
        border: 2px solid red;
    }
}
.messages {
    opacity: 0;
    transition: all .9s ease-in;
    &.active {
        opacity: 1;
    }
}

div.contenedor {
    text-align: center;
}
form {
    margin-right: 18rem;
    padding: 0;
    width: 60%;

    div.en_linea {        
        width: 100%;
        text-align: left;
        margin: 2rem;
    }

    div.nombres {
        display: inline-block;
        width: 13rem;
    }

    div.col-3 {
        display: inline-block;
        width: 30%;
    }

    div.nombres.especial {
        display: inline-block;
        width: 30%;
    }

    mat-form-field {
        margin: 0.5rem;
        width: 180px;
        height: 20px;
    }

    button {
        margin-top: 5rem;
        margin-right: 10rem;
    }
}

/* SideNav */
mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav-container {

    height: calc(100vh - 65px);

    mat-sidenav {
        margin: 16px;
        width: 200px;
        border-right: none;
        background: #002b5c;
        color: white;
        border-radius: 10px;
        padding: 16px;
        text-align: center;
    }

    .content {
        height: calc(100vh - 98px);
        margin: 16px;
        margin-left: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: .8rem;
        color: lightgray;

        border-radius: 10px;
    }

    mat-sidenav {
        margin: 16px;
        width: 200px;
        border-right: none;
        background: #002bc5;
        border-radius: 10px;
        padding: 16px;
        text-align: center;
    }

    .menu-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1rem;

        mat-icon {
            margin-right: 8px;
        }
    }

    .name {
        margin: 0;
        margin-top: 8px;
        font-weight: normal;
    }

    .designation {
        margin-top: 2px;
        font-size: .7rem;
        color: lightgrey;
    }

    mat-divider {
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: rgba(255, 255 ,255, 0.5);
    }

    .avatar {
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
    }
}



